<ion-view>
<ion-header-bar class="bar-dark">
  <h1 class="title">Add New Reminder</h1>
    <button class="button button-clear button-light" ng-click="addreminder.hide()">Close</button>
</ion-header-bar>
<ion-content class="padding" padding="true" class="pane">
  <div class="list card item-text-wrap">

  <form name="reminderForm">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Title</span>
    <input type="text" ng-model="rname" placeholder="Breakfast" required="yes">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Date</span>
    <input type="date" ng-model="rdate" required="yes">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Time</span>
    <input type="time" ng-model="rtime" required="yes">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Description</span>
    <input type="text" ng-model="rdescrip" placeholder="1 skim milk" required="yes">
  </label>
  <ion-checkbox ng-model="repeat">Repeat</ion-checkbox>
  </form>
  <button class="button button-block button-positive" ng-disabled="reminderForm.$invalid" ng-click="reminderadd(rname,rdate,rtime,rdescrip,repeat)">
      Set
  </button>

</div>
</ion-content>
</ion-modal-view>
