<ion-view view-title="Diet" class="pane">
  <ion-content>
<div class="list card">
  <center>
  <div class="item item-text-wrap">
    <h1> Diet </h1>
  </div>
</centre>
  <div class="item item-divider">
    Breakfast
  </div>
  <div class="item item-text-wrap">
    Here you can find all your Diet information
  </div>
  <div class="item item-divider">
    Lunch
  </div>
  <div class="item item-text-wrap">
    Here you can find all your Exercise information
  </div>
  <div class="item item-divider">
    Dinner
  </div>
  <div class="item item-text-wrap">
    click Next to continue and update
    your Account information
  </div>
  <div class="item">
  <button class="button button-block button-assertive" ui-sref='app.account'>
      Next
  </button>
</div>
</div>
</ion-content>
</ion-view>
