<ion-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Forgot Password</h1>
      <button class="button button-clear button-light" ng-click="forgot.hide()">Close</button>
  </ion-header-bar>
  <ion-content class="padding" padding="true">
    <div class="list">
      <label class="item item-divider">
        Please Enter Your Registered Email Address
      </label>
  <label class="item item-input">
            <span class="input-label">E-mail ID</span>
            <input type="email" ng-model="femail" placeholder="abc@notodiabetes.com" required="yes">
          </label>
          <button class="button button-full button-positive" ng-disabled="!femail" ng-click="forgotmail(femail)">
              Submit
          </button>
</div>
</ion-content>
</ion-view>
