<ion-view view-title="Login" hide-back-button="true">
  <ion-content padding="true">
    <form>
      <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">E-mail</span>
            <input type="email" ng-model="email" placeholder="abc@notodiabetes.com" required="yes">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="password" ng-model="password" placeholder="Password" required="yes">
          </label>
          <button class="button button-block button-calm" ng-disabled="!email || !password" ng-click="login(email,password)">
              Login
          </button>
          <br>
          <ion-list>
            <ion-item menu-close href="#/app/forgot">
              Forgot Password
            </ion-item>
          <ion-item menu-close href="#/app/register">
            Register
          </ion-item>
        </ion-list>
      </div>
    </form>
  </ion-content>
</ion-view>
