<ion-view view-title="News Feed" class="pane">
  <ion-content class="padding" padding="true">

      <div class="list card">
        <div class="item item-text-wrap">
          <a href="https://www.collective-evolution.com/2016/06/04/a-patent-was-just-granted-to-what-could-be-a-potential-cure-for-type-1-diabetes/">
              A PATENT WAS JUST GRANTED TO WHAT COULD BE A POTENTIAL CURE FOR TYPE 1 DIABETES
          </a>
        </div>
        <div class="item item-text-wrap">
          <a href="http://www.msd-diabetes.de/news/?gclid=CjwKEAjwm8-6BRDgnb-Dk96UmRASJADbMycYMyDB2GlZZC5ESTQCfgcr28CA4wnGDr8yycRQnVhV-hoCdoLw_wcB">
              msd-diabetes.de
          </a>
        </div>

  </ion-content>
</ion-view>
