<ion-view title="Register" hide-back-button="false" class="pane">
  <ion-content class="padding "padding="true">
    <div class="list card">
      <form name="registerForm">
  <label class="item item-input item-floating-label">
            <span class="input-label">E-mail ID</span>
            <input type="email" ng-model="remail" placeholder="E-mail ID" required="yes">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="password" ng-model="rpassword" placeholder="Password" required="yes">
          </label>
        </form>
        <div class="item">
          <button class="button button-full button-positive" ng-disabled="registerForm.$invalid" ng-click="register(remail,rpassword)">
              Sign-up
          </button>
        </div>
</div>
</ion-content>
</ion-view>
