
<ion-view view-title="Tour Wizard" hide-back-button="true" class="pane">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-light" ui-sref='tour2'>
        Next
    </button>
  </ion-nav-buttons>
  <ion-content>
<div class="card">
  <center>
  <div class="item item-text-wrap item-divider">
  Welcome to NoToDiabetes
  </div>
</centre>
  <div class="item item-text-wrap">
    In our App we have features like Diet and Exercise
    Each time you update the Account information we suggest you
    Diet and exercise plan
  </div>
  <div class="item item-divider">
    Diet
  </div>
  <div class="item item-text-wrap">
    Find your customized "Diet" information
  </div>
  <div class="item item-divider">
    Exercise
  </div>
  <div class="item item-text-wrap">
    Find  your customized "Exercise" information
  </div>
  <div class="item item-text-wrap">
    click Next to continue and update
    your Account information
  </div>
</div>
</ion-content>
</ion-view>
