<ion-modal-view class="pane">
  <ion-header-bar class="bar-dark">
    <h1 class="title">Edit Account</h1>
      <button class="button button-clear button-light" ng-click="editacct.hide()">Close</button>
  </ion-header-bar>
  <ion-content class="padding" padding="true" class="pane">
    <form>
      <div class="list card">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Name</span>
          <input type="text" ng-model="edetails.name">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Sex
          </div>
          <select ng-model="edetails.sex">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Diabetes Type
          </div>
          <select ng-model="edetails.type">
            <option value="Type 1">Type 1</option>
            <option value="Type 2">Type 2</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Age category
          </div>
          <select ng-model="edetails.age">
            <option value="< 30">less than 30</option>
            <option value="30 - 60">30 - 60</option>
            <option value="> 60 ">above 60</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Food Habbit
          </div>
          <select ng-model="edetails.food" >
            <option value="Vegetarian">Vegetarian</option>
            <option value="Non-Vegetarian">Non-Vegetarian</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Sugar lvl
          </div>
          <select ng-model="edetails.level" >
            <option value="127-153">127-153(Normal)</option>
            <option value="154-195">154-195(Monitor)</option>
            <option value="Keeps Fluctuating">Keeps Fluctuating</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Occupation
          </div>
          <select ng-model="edetails.profession">
            <option value="Professional">Professional</option>
            <option value="Non-Professional">Non-Professional</option>
          </select>
        </label>
        </form>
        <div class="item">
        <button class="button button-block button-positive" ng-click="editAccount(edetails)">
            Update
        </button>
      </div>
      </div>
  </ion-content>
</ion-modal-view>
