<ion-modal-view class="pane">
  <ion-header-bar class="bar-dark">
    <h1 class="title">Forgot Password</h1>
      <button class="button button-clear button-light" ng-click="forgot.hide()">Close</button>
  </ion-header-bar>
  <ion-content class="padding" padding="true" class="pane">
<div class="list card">
      <label class="item item-divider item-text-wrap">
        Enter Your Registered Email Address
      </label>
      <label class="item item-input">
      <span class="input-label">E-mail ID</span>
      <input type="email" ng-model="femail" placeholder="abc@notodiabetes.com" required="yes">
      </label>
      <div class="item">
      <button class="button button-block button-royal" ng-disabled="!femail" ng-click="forgotmail(femail)">
          Submit
      </button>
      </div>
</div>
</ion-content>
</ion-modal-view>
